{% extends "base.html" %}


{% block page %}
<title>Information page</title>
{% endblock %}

{% block title %}
<p style="color: aliceblue; font-size: 1.7em;">Information</p>
{% endblock %}



{% block content %}

<style>
img{
border-radius: 50%;
}

.info, .textdiv{
text-align: center;
}

.text{
    font-size: 21px;
    color: bisque;
    font-weight: bold;
}

.text2{
    font-size: 11px;
    color: bisque;
    font-weight: bold;
}

#send {
background-color: #889702;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=text], select {
padding: 12px 20px;
margin: 18px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

#small {
    font-size:1px;
}

</style>

<br>
<br>
<div class="textdiv">
    <!-- <span class="text">(eA, eB) = ({{parameters['eA']}}, {{parameters['eB']}})</span>
    <br>
    <span class="text">p : {{parameters['p']}}</span>
    <br>
    <br>
    <span class="text">(PA, PB) = ({{parameters['PA']}}, {{parameters['PB']}})</span>
    <br>
    <span class="text">(QA, QB) = ({{parameters['QA']}}, {{parameters['QB']}})</span>
    <br>
    <br>
    <span class="text">Starting curve E : y<sup class="small">2</sup> = x <sup class="small">3</sup> + ({{parameters['A']}})x<sup class="small">2</sup> + x</span>
    <br> -->

    <span class="text">University of Geneva</span>
    <br>
    <span class="text">MA Computing science and Mathematics</span>
    <br>
    <br>
    <span class="text">Application implemented by : Quentin Rivollat</span>
    <br>
    <br>
    <span class="text">For the Master Thesis "SECURE GROUP MESSAGING PROTOCOL, BASED ON POST-QUANTUM CRYPTOGRAPHY"</span>
    <br>
    <br>
    <span class="text">Repository link and Original paper can be found at the home page</span>
    <br>
    <br>
    <span class="text">Creating an account is necessary to use the application</span>
    <br>
    <span class="text">No personal information is stored</span>
    <br>
    <span class="text2">I'm clearly not skilled enough to do so... or maybe I am ( ͡❛ ͜ʖ ͡❛)</span>
    <br>
</div>



{% endblock %}