{% extends "base.html" %}

{% block title %}
<p style="color: aliceblue; font-size: 1.7em;">Are you lost ?</p>
{% endblock %}

{% block content %}

<style>

    .atcenter{
        width: 50%;
        height: 90%;
        margin: 10 auto;
        text-align: center
    }

    .bigtext{
        font-size: 20px;
        font-weight: bold;
        color: bisque;
        position: relative;
        top: 50%;
    }
</style>

<div class="atcenter">
    <span class="bigtext">Page not found</span>
</div>


{% endblock %}